.banner-container{
  position: relative;
  background-image: url(./public/Banner.png) ;   
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}
.banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2); /* black overlay, 40% transparent */
  z-index: 1;
}
.content{
    padding: 50px;
    display: flex;
    gap:20px;
    flex-direction: column;
    padding-top: 200px;

}
.content .tagline{
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.content button{
    background-color: black;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 5%;
    color: white;
    width: 300px;
    font-size: 20px;
}
.content button:hover{
  background-color:gray;
  color: black;
}
.content .name{
    font-size: 60px;
}

.history-container{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: lightgrey;

}
.history{
  border:2px solid gray;
  flex-basis: 40%;
}
.history p{
 padding: 10px;
word-spacing:3px;
font-size: 20px;
letter-spacing: 2px;
}
.history-container .history-tagline{
  display: flex;
  align-items: center;
  font-size: 20px;
}