
nav{
position: fixed;
top:50px;
right: 0;
left: 0;
 display: flex;
 background-color: #282c34;
 justify-content: center;
 z-index: 999;
 padding: 20px;
}
.nav-list{
    display: flex;
    list-style-type: none;
    gap:20px;
}

.nav-list li a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    
}
.nav-list li a:hover{
   color: lightblue;
}