.products-container{
    position:relative;
    top: 50px;
}

.products-container {
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  border: 2px solid gray;
}
.product-card button {
  margin: 10px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;

}

.product-card button:hover {
  background-color: gray;
}